# Use postgres/example user/password credentials
version: "3.1"

services:
  car_repair_postgresql:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: car_repair
      PGDATA: /var/lib/postgresql/data/pgdata
    networks:
      - car-repair-network

    volumes:
      # - ~/car_repair_pgdata:/var/lib/postgresql/data
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  car_repair_redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - car-repair-network
    restart: always

  adminer:
    image: adminer
    restart: always
    depends_on:
      - car_repair_postgresql
    ports:
      - 8080:8080

  car_repair_api:
    image: registry.gitlab.com/jasonwu070721/car_repair_api_gin:latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: always
    depends_on:
      - car_repair_postgresql
      - car_repair_redis
    networks:
      - car-repair-network
    ports:
      - "443:443"

networks:
  car-repair-network:
    driver: bridge
